In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
my_date=datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [7]:
my_date.month

1

In [8]:
first_two=[datetime(2015,2,1),datetime(2014,2,3)]

In [9]:
dt_ind=pd.DatetimeIndex(first_two)

In [10]:
dt_ind

DatetimeIndex(['2015-02-01', '2014-02-03'], dtype='datetime64[ns]', freq=None)

In [15]:
data=np.random.randn(2,2)

In [16]:
data

array([[-0.18348883,  0.44839664],
       [ 0.13899431, -1.37636732]])

In [17]:
cols=["d","b"]

In [22]:
df=pd.DataFrame(data,dt_ind,cols)

In [23]:
df

                   d         b
2015-02-01 -0.183489  0.448397
2014-02-03  0.138994 -1.376367